<% users.forEach(user => { %>
    <% if (!(user.referralBonus.accName)) return %>
    <tr>
        <td><b><%= user.name %></b></td>
        <td><b><%= user.referralBonus.accName %></b></td>
        <td><b><%= user.referralBonus.accNumber %></b></td>
        <%
            let sign;
            user.pledge.pledgeType === 'bitcoin' ? sign = '$' : sign = '₦';
        %> 
        <td><b><%= sign %><%= formatAmount(user.referralBonus.amount) %></b></td>
        <td><b>
            <form id="removeReferrer" action=<%= `/${process.env.ADMIN_ROUTE}/removeReferrer?num=${user._id}` %> method="POST">
                <button type="submit" class="btn btn-primary btn-sm text-black">X</button>
            </form>
        </b></td>
    </tr>
<% }) %>



